<div class="grid grid-cols-[1fr_2fr_1fr] h-full gap-5 text-center p-10">
  <div class="p-4 row-span-2 bg-orange-100 rounded-lg">Palette de dessin</div>
  <div class="p-4">
  <p>Au tour de Dano de dessiner</p>
  <p>Il reste 1 minutes!</p>

  </div>

  <div class="p-4"></div>
  <canvas class="p-4 row-span-2 w-full rounded-lg border-1 border-gray"></canvas>
  <div class="p-4"></div>

  <div class="p-4 bg-orange-100 rounded-lg">Équipiers</div>
  <div class="p-4"></div>
</div>